@import './theme.css';

#layout .ui.menu {
  font-size: 1.4rem;
}

#layout .nav-bar {
  margin-bottom: 45px;
}

#layout .nav-bar .logo {
  width: 120px;
}

@media (max-width: 768px) {
  #layout .ui.menu {
    font-size: 1rem;
  }

  #layout .nav-bar {
    margin-bottom: 0px;
  }

  #layout .nav-bar .logo {
    width: 80px;
  }
}

.no-outline {
  outline: none;
}

#layout .image-gallery-content .image-gallery-slide .image-gallery-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  max-height: calc(100vh);
}

.image-gallery-right-nav::before,
.image-gallery-left-nav::before,
.image-gallery-fullscreen-button::before {
  text-shadow: 0 1px 1px #999;
}

.image-gallery-right-nav:hover::before,
.image-gallery-left-nav:hover::before {
  color: #a333c8;
}

.view-component {
  direction: rtl;
}
.view-component.center {
  display: flex;
  justify-content: center;
}

.nav-bar .search {
  text-align: right;
}

.ui.icon.input input {
  padding-left: 2.67142857em!important;
  padding-right: 1em!important;
}

.ui.icon.input>i.icon {
  left: 0;
  right: auto;
}

.component-card {
  direction: rtl;
}

.ui.floated.segment, .ui[class*="left floated"].segment {
  float: right!important;
  margin-left: 1em!important;
  margin-right: 0!important;
}

.ui.menu:not(.vertical) .right.item, .ui.menu:not(.vertical) .right.menu {
  margin-left: 0!important;
}

#search {
  border-radius: 25px;
}

.products-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pushable .ui.card:first-child {
  margin: 1em 0;
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  padding-top: 20px;
}

#layout .cart-table-quantity {
  text-align: center;
}

.search-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.search-wrapper input {
  width: 250px;
}

.go-to-cart {
  position: fixed;
  left: 8px;
  bottom: 18px;
  background-color: var(--main-color) !important;
  color: #fff !important;
  border: 1px solid var(--text-light-color) !important;
}
