
:root {
  --main-color: #fb98cf;
  --secondary-color: #ffdbef;
  --text-regular-color: #3d464d;
  --text-light-color: #9c9d9e;
}

.ui.inverted.menu .pink.active.item, .ui.inverted.pink.menu {
  background-color: var(--main-color);
}

.ui.inverted.pink.segment {
  background-color: var(--main-color) !important;
}

.ui.pink.button, .ui.pink.buttons .button {
  background-color: var(--main-color);
}

i.pink.icon {
  color: var(--main-color) !important;
}
