.pink-strip {
  background: var(--secondary-color);
  color: #676767;
  width: 100%;
  padding: 20px 80px;
  margin-bottom: auto;
  text-align: center;
  margin-top: 50px;
}

.pink-strip a {
  color: #676767;
  text-decoration: none;
}


