@import './theme.css';

.no-outline {
  outline: none;
}

.image-gallery-right-nav::before,
.image-gallery-left-nav::before,
.image-gallery-fullscreen-button::before {
  text-shadow: 0 1px 1px #999;
}

.image-gallery-right-nav:hover::before,
.image-gallery-left-nav:hover::before {
  color: #a333c8;
}

.view-component {
  direction: rtl;
}
.view-component.center {
  display: flex;
  justify-content: center;
}

.nav-bar .search {
  text-align: right;
}

.ui.icon.input input {
  padding-left: 2.67142857em!important;
  padding-right: 1em!important;
}

.ui.icon.input>i.icon {
  left: 0;
  right: auto;
}

.component-card {
  direction: rtl;
}

.ui.floated.segment, .ui[class*="left floated"].segment {
  float: right!important;
  margin-left: 1em!important;
  margin-right: 0!important;
}

.ui.menu:not(.vertical) .right.item, .ui.menu:not(.vertical) .right.menu {
  margin-left: 0!important;
}
